.h5 {
  font-size: rem(20);
  line-height: rem(32);
  letter-spacing: 0.2px;
  color: $black;

  @media (max-width: 767px) {
    font-size: rem(16);
    line-height: 1;
  }

  // @media (min-width: 768px) and (max-width: 1023px) {
  //   font-size: rem(19);
  // }
  //
  // @media (max-width: 767px) {
  //   font-size: rem(18);
  // }
}
