mixin core-btn(tag, text, className)
  - if(tag == 'div') {
    .core-btn(class=className)
      span.core-btn__text.text= text
  - } else if(tag == 'button') {
    button.core-btn(class=className)
      span.core-btn__text.text= text
  - } else {
    a.core-btn(href=tag, class=className)
      span.core-btn__text.text= text
  - }
