.core-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(40);
  padding: 0 rem(27);
  border-radius: rem(2);
  box-shadow: 0 rem(10) rem(15) 0 rgba(51, 76, 86, 0.13);
  background-image: linear-gradient(to right, #86c98b, #7dcac5);

  $root: &;

  &__text {
    width: 100%;
    color: #fff;
    text-align: center;
  }

  &:hover {
    background-image: linear-gradient(to right, #ffd46c, #fabf2e);
  }

  &--border {
    padding: 0;
    border: solid 2px transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(102deg, #86c98b, #7dcac5);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .core-btn__text {
      padding: 0 rem(27);
      color: $black;
    }

    &:hover {
      background-image: linear-gradient(#fff, #fff), linear-gradient(102deg, #ffd46c, #fabf2e);
    }
  }
}
