mixin dev-footer()
  footer.dev-footer
    .dev-footer__content.main
      p.dev-footer__copy © «Новые Котельники», 2019
      .dev-footer__social
        a.dev-footer__social-item
          svg.dev-footer__social-icon
            use(xlink:href=require('../assets/svg/fb.svg').url)
        a.dev-footer__social-item
          svg.dev-footer__social-icon
            use(xlink:href=require('../assets/svg/tw.svg').url)
        a.dev-footer__social-item
          svg.dev-footer__social-icon
            use(xlink:href=require('../assets/svg/vk.svg').url)
        a.dev-footer__social-item
          svg.dev-footer__social-icon
            use(xlink:href=require('../assets/svg/insta.svg').url)
        a.dev-footer__social-item
          svg.dev-footer__social-icon
            use(xlink:href=require('../assets/svg/yt.svg').url)
      a.dev-footer__dev
        svg.dev-footer__dev-icon
          use(xlink:href=require('../assets/svg/dev-logo.svg').url)
    .dev-footer__bottom
      .dev-footer__bottom-content.main
        p.dev-footer__bottom-text Материалы, представленные на сайте не являются публичной офертой. Визуализации объекта являются ориентировочными. Застройщик вправе вносить изменения в проектную  документацию в соответствии с действующим законодательством.
