.dev-footer {
  padding-top: rem(48);
  background-color: #1b1e22;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: rem(27);
  }

  @media (max-width: 767px) {
    padding-top: rem(15);
  }

  &__content {
    padding-bottom: rem(25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 92.7%;
    }

    @media (max-width: 767px) {
      padding-bottom: rem(13);
      flex-wrap: wrap;
      width: 87.5%;
    }
  }

  &__copy {
    font-size: rem(12);
    color: #5f6164;

    @media (min-width: 768px) and (max-width: 1023px) {
      letter-spacing: 0.6px;
    }

    @media (max-width: 767px) {
      order: 1;
      font-size: rem(10);
      letter-spacing: 0.5px;
    }
  }

  &__social {
    margin-right: rem(130);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1023px) {
      margin-right: rem(150);
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(11);
      order: 0;
    }
  }

  &__social-icon {
    fill: #5f6164;
  }

  &__social-item {
    display: inline-flex;
    width: rem(22);
    height: rem(22);
    padding: rem(3);
    margin-right: rem(12);

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      .dev-footer__social-icon {
        fill: #fff;
      }
    }
  }

  &__dev-icon {
    fill: #5f6164;
  }

  &__dev {
    display: inline-flex;
    width: rem(28);
    height: rem(18);

    @media (max-width: 767px) {
      order: 1;
    }

    @media (max-width: 767px) {
      width: rem(25);
      height: rem(16);
    }

    &:hover {
      .dev-footer__dev-icon {
        fill: #477795;
      }
    }
  }

  &__bottom {
    border-top: 1px solid #5f6164;
  }

  &__bottom-content {
    padding-top: rem(20);
    padding-bottom: rem(17);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 88%;
      padding-top: rem(18);
      padding-bottom: rem(22);
    }

    @media (max-width: 767px) {
      width: 88.7%;
      padding-top: rem(14);
      padding-bottom: rem(11);
    }
  }

  &__bottom-text {
    font-size: rem(10);
    letter-spacing: 0.2px;
    text-align: center;
    color: #5f6164;

    @media (max-width: 767px) {
      font-size: rem(7);
      letter-spacing: 0.7px;
    }
  }
}
