.dev-stocks {
  position: relative;
  padding-top: rem(86);
  padding-bottom: rem(43);
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: rem(82);
  }

  @media (max-width: 767px) {
    padding-top: rem(50);
    padding-bottom: 0;
    margin-bottom: - rem(8);
  }

  &__back {
    position: absolute;
    width: 25%;
    display: block;

    @media (max-width: 767px) {
      width: 100%;
    }

    &--1 {
      top: 0;
      left: 0;

      @media (max-width: 767px) {
        transform: rotate(180deg);
      }
    }

    &--2 {
      display: none;

      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
        top: rem(600);
        left: 50%;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      flex-direction: column;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: rem(428);
    padding-top: rem(191);
    margin-right: rem(96);

    @media (min-width: 1024px) and (max-width: 1279px) {
      margin-right: rem(66);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 52%;
      padding: 0 0 rem(14) rem(34);
      margin-right: 0;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
      margin-right: 0;
      margin-bottom: rem(17);
    }
  }

  &__title {
    max-width: 100%;
    position: relative;
    margin-bottom: rem(30);

    @media (min-width: 768px) and (max-width: 1023px) {
      margin-bottom: rem(28);
    }

    @media (max-width: 767px) {
      margin-bottom: rem(17);
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: - rem(4);
      width: rem(82);
      height: rem(3);
      border-radius: rem(2);
      background: url(./assets/images/envelope_pattern.png) repeat-x left top;
      opacity: 0.9;

      @media (max-width: 767px) {
        width: rem(66);
      }
    }
  }

  &__text {
    width: 100%;
    line-height: 1.75;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    overflow: visible;
    margin-left: 0;
    margin-right: - rem(11);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-right: auto;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 62.5%;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      padding-bottom: rem(42);
      // flex-direction: column;
    }

    .swiper-wrapper {
      @media (min-width: 768px) and (max-width: 1023px) {
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }

  &__img {
    width: 100%;
    height: rem(380);
    background-color: #333;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: rem(374);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      height: rem(280);
    }

    @media (max-width: 767px) {
      height: rem(236);
    }
  }

  &__links-wrap {
    width: 100%;
    height: rem(5);
    background-image: linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5);
    overflow: hidden;
    transition: 0.4s ease;

    @media (max-width: 1023px) {
      height: rem(38);
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(38);
    padding: 0 rem(22) 0 rem(16);

    @media (min-width: 768px) and (max-width: 1023px) {
      padding: 0 rem(16) 0 rem(16);
    }
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    fill: #fff;
  }

  &__social-item {
    width: rem(16);
    height: rem(12);
    margin-right: rem(10);

    @media (min-width: 768px) and (max-width: 1023px) {
      width: rem(12);
      height: rem(10);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      .dev-stocks__social-icon {
        fill: $orange;
      }
    }
  }

  &__more-text {
    font-weight: 600;
    color: #fff;

    @media (max-width: 1023px) {
      font-weight: 400;
    }

    span {
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__more-icon {
    width: rem(13);
    height: rem(11);
    margin-left: rem(22);
    fill: #fff;

    @media (max-width: 1023px) {
      margin-left: rem(10);
    }
  }

  &__more {
    display: inline-flex;
    align-items: center;

    &:hover {
      .dev-stocks__more-text {
        color: $orange;
      }

      .dev-stocks__more-icon {
        fill: $orange;
      }
    }
  }

  &__name-wrap {
    width: 100%;
    padding: rem(20) rem(16);
    background-color: #fff;

    @media (min-width: 768px) and (max-width: 1023px) {
      padding: rem(20) rem(10);
    }

    @media (max-width: 767px) {
      opacity: 0;
    }
  }

  &__name {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.6px;

    @media (max-width: 767px) {
      line-height: 1;
      letter-spacing: 0.4px;
    }
  }

  &__item {
    width: rem(290);
    border-radius: rem(2);
    margin-right: rem(47);
    margin-bottom: rem(33);
    box-shadow: 0 rem(15) rem(40) 0 rgba(8, 21, 36, 0.1);
    transition: 0.4s ease;
    overflow: hidden;

    @media (min-width: 1900px) {
      width: 335px;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      width: rem(280);
      margin-right: rem(36);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 44.8%;
      height: auto;
      margin-right: 0;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-right: rem(20);
      margin-bottom: 0;
      opacity: 0.4;
      box-shadow: 0 0 0 0 rgba(19, 33, 36, 0.1), 0 0 0 0 rgba(51, 76, 86, 0.1);
    }

    &.swiper-slide-active {
      opacity: 1;
      box-shadow: 0 rem(18) rem(26) 0 rgba(19, 33, 36, 0.1), 0 rem(18) rem(26) 0 rgba(51, 76, 86, 0.1);

      .dev-stocks__name-wrap {
        opacity: 1;
      }
    }

    &:first-of-type {
      margin-top: rem(70);

      @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: rem(85);
      }

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      @media (min-width: 1024px) {
        margin-bottom: 0;
      }

      .dev-stocks__links-wrap {
        height: rem(38);
      }
    }
  }
}
