mixin dev-stocks()
  .dev-stocks(id='dev-stocks')
    .dev-stocks__content.main
      .dev-stocks__description
        +h3('Выгодные акции', 'dev-stocks__title')
        +text('Мы всегда готовы предложить для Вас оптимальные условия для покупки квартиры мечты. Среди наших акций Вы найдете именно то, что нужно Вам!', 'dev-stocks__text')
      .dev-stocks__items.swiper-container
        .swiper-wrapper
          .dev-stocks__item.swiper-slide
            .dev-stocks__img(style='background-image:url(' + require('../assets/images/stock1.jpg') + ')')
            .dev-stocks__links-wrap
              .dev-stocks__links
                .dev-stocks__social
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/fb.svg').url)
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/tw.svg').url)
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/vk.svg').url)
                a.dev-stocks__more
                  p.dev-stocks__more-text.text-little <span>Узнать</span> подробнее
                  svg.dev-stocks__more-icon
                    use(xlink:href=require('../assets/svg/arrow-right.svg').url)
            .dev-stocks__name-wrap
              +text('«Выгодная Ипотека»', 'dev-stocks__name')
          .dev-stocks__item.swiper-slide
            .dev-stocks__img(style='background-image:url(' + require('../assets/images/stock2.jpg') + ')')
            .dev-stocks__links-wrap
              .dev-stocks__links
                .dev-stocks__social
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/fb.svg').url)
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/tw.svg').url)
                  a.dev-stocks__social-item
                    svg.dev-stocks__social-icon
                      use(xlink:href=require('../assets/svg/vk.svg').url)
                a.dev-stocks__more
                  p.dev-stocks__more-text.text-little <span>Узнать</span> подробнее
                  svg.dev-stocks__more-icon
                    use(xlink:href=require('../assets/svg/arrow-right.svg').url)
            .dev-stocks__name-wrap
              +text('«Больше метров больше скидка»', 'dev-stocks__name')
    .dev-stocks__backs
      img.dev-stocks__back.dev-stocks__back--1(src='/s-images/backs/back1.svg', alt='back')
      img.dev-stocks__back.dev-stocks__back--2(src='/s-images/backs/back3.svg', alt='back')
