include ../blocks/**/*.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Kvartal_Kotelniki_landing
  body
    +dev-header()
    +dev-banner()
    .page
      .page__borders
      .page__content
        block content
    +dev-footer()
