mixin dev-transport()
  .dev-transport(id='dev-transport')
    .dev-transport__item
      .dev-transport__content.main
        +h3('Транспортная доступность', 'dev-transport__title')
      .dev-transport__head
        +text('Рядом 2 станции метро', 'dev-transport__head-title')
      .dev-transport__img(style='background-image:url(' + require('../assets/images/transport1.jpg') + ')')
      .dev-transport__content-text.main
        p.dev-transport__text.dev-transport__text--bold 10 минут
        p.dev-transport__text.dev-transport__text--bold до Метро «котельники»
        p.dev-transport__text а так же рядом находится станция метро «Люблино»
    .dev-transport__item
      .dev-transport__head
        +text('5 минут до МКАД', 'dev-transport__head-title')
      .dev-transport__img(style='background-image:url(' + require('../assets/images/transport2.jpg') + ')')
      .dev-transport__content-text.main
        p.dev-transport__text.dev-transport__text--bold 1,5 км до МКАД
        p.dev-transport__text съезд с выделенной развязкой, на внешнюю и внутреннюю стороны
    img.dev-transport__back(src='/s-images/backs/back2.svg', alt='back')
