.dev-transport {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: rem(122);
  padding-bottom: rem(8);

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    padding-top: rem(42);
  }

  &__back {
    position: absolute;
    top: - rem(151);
    right: 0;
    width: 25%;

    @media (min-width: 1024px) and (max-width: 1279px) {
      top: - rem(76);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      display: none;
    }

    @media (max-width: 767px) {
      width: 100%;
      top: rem(330);
    }
  }

  &__head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50%;
    height: rem(42);
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, #ffd46c, #fabf2e);
    box-shadow: inset 0 rem(4) rem(3) 0 rgba(0, 0, 0, 0.08);
    z-index: 1;

    @media (max-width: 767px) {
      position: static;
      height: rem(37);
      width: 50%;
      padding-left: 0;
      margin-left: auto;
    }
  }

  &__head-title {
    padding-left: rem(22);
    font-weight: 500;
    color: #fff;

    @media (max-width: 767px) {
      padding-left: rem(12);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    padding: rem(40) rem(41) rem(41) rem(41);
    min-height: rem(138);
    background-color: #fff;

    @media (min-width: 1024px) and (max-width: 1279px) {
      min-height: rem(120);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      padding: rem(32) rem(41) rem(57) rem(41);
    }

    @media (max-width: 767px) {
      position: static;
      padding: 0;
      min-height: inherit;
      margin-bottom: rem(32);
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 0.5px);
      display: none;
      width: 1px;
      height: 100%;
      background-color: #f2f2f2;

      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
      }
    }
  }

  &__content-text {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    padding: rem(27) rem(27) rem(9) rem(32);
    min-height: rem(138);
    background-color: #fff;

    @media (min-width: 1024px) and (max-width: 1279px) {
      padding: rem(24) rem(16) rem(24) rem(26);
      min-height: rem(120);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      padding: rem(26) rem(68) rem(26) rem(32);
    }

    @media (max-width: 767px) {
      position: static;
      padding: rem(27) 0 rem(30);
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      display: none;
      width: 1px;
      height: 100%;
      background-color: #f2f2f2;

      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
      }
    }
  }

  &__title {
    position: relative;
    padding-left: rem(20);

    @media (min-width: 768px) and (max-width: 1023px) {
      padding-top: rem(3);
      line-height: 1.1;
      padding-left: rem(13);
    }

    @media (max-width: 767px) {
      padding-left: rem(12);
      line-height: 1.2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(3);
      height: rem(60);
      background-color: #fed165;
      transform: translate(0, -50%);

      @media (max-width: 767px) {
        height: rem(48);
      }
    }
  }

  &__text {
    position: relative;
    font-size: rem(18);
    line-height: rem(26);
    color: $black;
    z-index: 2;

    @media (max-width: 767px) {
      font-size: rem(14);
      line-height: rem(24);
    }

    &--bold {
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: rem(16);
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #999;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 767px) {
      height: rem(261);
    }
  }

  &__item {
    position: relative;
    width: 50%;
    height: rem(608);
    z-index: 1;

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: rem(546);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
      height: rem(684);
    }

    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }

    &:nth-of-type(2n) {
      margin-top: rem(68);

      @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: rem(93);
      }

      @media (max-width: 767px) {
        margin-top: rem(0);
      }

      .dev-transport__content-text {
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        padding: rem(31) rem(22) rem(24) rem(23);

        @media (min-width: 768px) and (max-width: 1023px) {
          padding: rem(25) rem(20) rem(49) rem(64);
        }

        @media (max-width: 767px) {
          position: static;
          padding: rem(27) 0 rem(30);
        }

        &::before {
          left: calc(50% - 0.5px);
        }
      }

      .dev-transport__img {
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 25%;
          width: 1px;
          display: none;
          height: rem(138);
          background-color: #f2f2f2;
          transform: translate(-50%, 0);
          z-index: 1;

          @media (min-width: 768px) and (max-width: 1023px) {
            height: rem(157);
            display: block;
          }

          @media (max-width: 767px) {
            height: rem(37);
          }
        }

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          width: 50%;
          height: rem(138);
          background-color: #fff;

          @media (min-width: 768px) and (max-width: 1023px) {
            height: rem(157);
          }

          @media (max-width: 767px) {
            height: rem(37);
          }
        }
      }
    }
  }
}
