mixin dev-flats()
  .dev-flats(id='dev-flats')
    .dev-flats__head.main
      +h2('Квартиры с отделкой', 'dev-flats__title')
    .dev-flats__content.main
      .dev-flats__item
        +h4('Студия', 'dev-flats__name')
        .dev-flats__img-wrap.dev-flats__img-wrap--slider
          .dev-flats__img(style='background-image:url(/s-images/flats/flat4.svg)')
          .dev-flats__clipper
            .dev-flats__new-img(style='background-image:url(/s-images/flats/flat4.png)')
          .dev-flats__img-slider
        .dev-flats__description
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 2 354 280 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 27,60 м²
          .dev-flats__col
            .dev-flats__col-title Без отделки
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 2 720 000 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 27,6 м²
        +core-btn('#', 'Забронировать', 'dev-flats__btn js-callback')
      .dev-flats__item
        +h4('Однокомнатная', 'dev-flats__name')
        .dev-flats__img-wrap.dev-flats__img-wrap--slider
          .dev-flats__img(style='background-image:url(/s-images/flats/flat3.svg)')
          .dev-flats__clipper
            .dev-flats__new-img(style='background-image:url(/s-images/flats/flat3.png)')
          .dev-flats__img-slider
        .dev-flats__description
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 4 550 690 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 36,6 м²
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 5 063 130 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 36,6 м²
        +core-btn('#', 'Забронировать', 'dev-flats__btn js-callback')
      .dev-flats__item
        +h4('Двухкомнатная', 'dev-flats__name')
        .dev-flats__img-wrap.dev-flats__img-wrap--slider
          .dev-flats__img(style='background-image:url(/s-images/flats/flat4.svg)')
          .dev-flats__clipper
            .dev-flats__new-img(style='background-image:url(/s-images/flats/flat4.png)')
          .dev-flats__img-slider
        .dev-flats__description
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 6 280 220 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 36,70 м²
          .dev-flats__col
            .dev-flats__col-title Без отделки
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 7 013 000 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 36,60 м²
        +core-btn('#', 'Забронировать', 'dev-flats__btn js-callback')
      .dev-flats__item
        +h4('Трехкомнатная', 'dev-flats__name')
        .dev-flats__img-wrap.dev-flats__img-wrap--slider
          .dev-flats__img(style='background-image:url(/s-images/flats/flat3.svg)')
          .dev-flats__clipper
            .dev-flats__new-img(style='background-image:url(/s-images/flats/flat3.png)')
          .dev-flats__img-slider
        .dev-flats__description
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 2 815 200 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 27,60 м²
          .dev-flats__col
            .dev-flats__col-title С отделкой
            .dev-flats__info-wrap
              .dev-flats__info
                p.dev-flats__info-name Цена:
                p.h4.dev-flats__info-price 2 354 280 ₽
              .dev-flats__info
                p.dev-flats__info-name Площадь:   
                p.h4.dev-flats__info-area 27,60 м²
        +core-btn('#', 'Забронировать', 'dev-flats__btn js-callback')
    .dev-flats__backs
      img.dev-flats__back.dev-flats__back--1(src='/s-images/backs/back4.svg', alt='back')
      img.dev-flats__back.dev-flats__back--2(src='/s-images/backs/back5.svg', alt='back')
      img.dev-flats__back.dev-flats__back--3(src='/s-images/backs/back2.svg', alt='back')
      img.dev-flats__back.dev-flats__back--4(src='/s-images/backs/back4.svg', alt='back')
      img.dev-flats__back.dev-flats__back--5(src='/s-images/backs/back2.svg', alt='back')
      img.dev-flats__back.dev-flats__back--6(src='/s-images/backs/back2.svg', alt='back')
      img.dev-flats__back.dev-flats__back--7(src='/s-images/backs/back5.svg', alt='back')
