.dev-flats {
  position: relative;
  width: 100%;
  padding-top: rem(32);
  padding-bottom: rem(26);

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: rem(52);
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    padding-top: rem(41);
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  &__title {
    position: relative;
    margin-bottom: rem(30);

    @media (min-width: 768px) and (max-width: 1023px) {
      margin-bottom: rem(76);
    }

    @media (max-width: 767px) {
      margin-bottom: rem(82);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: - rem(6);
      right: 0;
      width: 100%;
      height: rem(3);
      border-radius: rem(2);
      background: url('./assets/images/envelope_pattern.png') repeat-x left top;

      @media (min-width: 768px) and (max-width: 1023px) {
        bottom: - rem(2);
      }

      @media (max-width: 767px) {
        bottom: - rem(4);
      }
    }
  }

  &__back {
    position: absolute;
    display: block;
    width: 25%;

    @media (max-width: 767px) {
      display: none;
    }

    &--1 {
      top: - rem(108);
      left: 0;

      @media (min-width: 768px) and (max-width: 1023px) {
        top: rem(60);
      }

      @media (max-width: 767px) {
        top: rem(30);
        width: 100%;
        display: block;
      }
    }

    &--2 {
      top: rem(34);
      right: 0;

      @media (min-width: 768px) and (max-width: 1023px) {
        top: rem(608);
        right: 25%;
        transform: rotate(180deg);
      }
    }

    &--3 {
      left: 25%;
      bottom: rem(26);

      @media (min-width: 768px) and (max-width: 1023px) {
        top: rem(768);
        bottom: auto;
      }
    }

    &--4 {
      top: rem(972);
      right: 0;

      @media (min-width: 768px) and (max-width: 1023px) {
        top: auto;
        bottom: rem(1590);
        right: 0;
        transform: rotate(180deg);
      }
    }

    &--5 {
      left: 25%;
      bottom: rem(914);

      @media (min-width: 768px) and (max-width: 1023px) {
        bottom: rem(1312);
        left: 0;
      }
    }

    &--6 {
      display: none;
      right: 0;
      bottom: rem(110);

      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
      }
    }

    &--7 {
      display: none;
      bottom: rem(760);
      right: 25%;
      transform: rotate(180deg);

      @media (min-width: 768px) and (max-width: 1023px) {
        display: block;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
  }

  &__name {
    margin-bottom: rem(28);

    @media (max-width: 767px) {
      margin-bottom: rem(20);
    }
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    height: rem(494);
    margin-bottom: rem(30);
    background-color: #f2f2f2;
    overflow: hidden;
    box-shadow: 0 rem(4) rem(32) 0 rgba(0, 0, 0, 0.1);

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: rem(470);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      height: rem(395);
      margin-bottom: rem(41);
    }

    @media (max-width: 767px) {
      height: rem(210);
      margin-bottom: rem(24);
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 2;
    // }
  }

  &__img {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__clipper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  &__new-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-color: #e2e9e4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__img-slider {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: rem(4);
    background: #fff;
    transform: translate(-50%, 0);
    cursor: ew-resize;
    z-index: 3;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(49);
      height: rem(63);
      background-size: contain;
      background-image: url(/s-images/handler.svg);
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(17);

    @media (min-width: 768px) and (max-width: 1023px) {
      margin-bottom: rem(16);
    }

    @media (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__col {
    width: 47%;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: rem(7);
    }
  }

  &__col-title {
    margin-bottom: rem(22);
    letter-spacing: 0.4px;
    font-size: rem(18);
    font-weight: 600;
    color: $black;
    line-height: 1;

    @media (max-width: 767px) {
      margin-bottom: rem(17);
    }
  }

  &__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    display: inline-flex;
    align-items: baseline;
    margin-bottom: rem(13);

    @media (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__info-name {
    width: rem(133);
    font-size: rem(15);
    color: $black;
    line-height: 1;

    @media (min-width: 1024px) and (max-width: 1279px) {
      width: rem(106);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: rem(98);
    }

    @media (max-width: 767px) {
      width: auto;
    }
  }

  &__info-price {
    font-weight: 500;
    color: $grean;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1279px) {
      letter-spacing: 0;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      font-size: rem(20);
    }

    @media (max-width: 767px) {
      text-align: right;
    }
  }

  &__info-area {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1279px) {
      letter-spacing: 0;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      font-size: rem(20);
    }

    @media (max-width: 767px) {
      text-align: right;
    }
  }

  &__btn {
    display: flex;
    width: rem(256);
    margin: 0 auto;

    // @media (min-width: 768px) and (max-width: 1023px) {
    //   width: rem(200);
    // }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__item {
    width: 46.803%;
    margin-bottom: rem(12);
    // width: rem(600);

    @media (max-width: 1023px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
      margin-bottom: rem(84);
    }

    @media (max-width: 767px) {
      margin-bottom: rem(40);
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      margin-top: rem(129);

      @media (max-width: 1023px) {
        margin-top: 0;
      }

      // .dev-flats__img-wrap {
      //   @media (min-width: 1024px) {
      //     margin-bottom: rem(31);
      //   }
      // }
    }
  }
  //
  // &--trim {
  //   @media (max-width: 767px) {
  //     padding-top: rem(81);
  //   }
  //
  //   .dev-flats__back--1 {
  //     @media (max-width: 767px) {
  //       top: rem(70);
  //       transform: rotate(180deg);
  //     }
  //   }
  // }
}
