.h2 {
  font-size: rem(32);
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.8px;
  // letter-spacing: -0.7px;
  color: $black;

  @media (max-width: 767px) {
    font-size: rem(22);
    letter-spacing: 0.5px;
  }
  //
  // @media (max-width: 767px) {
  //   font-size: rem(22);
  // }
  //
  // span {
  //   color: $pink;
  // }
}
