mixin dev-banner()
  .dev-banner(id='dev-banner')
    .dev-banner__content
      .dev-banner__pic.dev-banner__pic--n1
      .dev-banner__pic.dev-banner__pic--n2
      .dev-banner__pic.dev-banner__pic--n3
