.dev-banner {
  position: relative;
  width: 100%;
  padding: rem(16);
  background-color: #333;
  background-image: url(./assets/images/envelope_pattern.png);

  @media (max-width: 767px) {
    height: rem(426);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: rem(836);
  }

  @media (min-width: 1024px) {
    height: rem(512);
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./assets/images/banner.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }

  &__pic {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 100%;
    }

    &--n1 {
      background-image: url('./assets/images/banner_pic_1.png');

      @media (max-width: 767px) {
        max-height: calc(40% - 4.8125rem);
        top: rem(77);
        right: rem(57);
        width: calc(50% - 3.5625);
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        top: rem(93);
        right: rem(78);
        width: rem(186);
      }

      @media (min-width: 1024px) {
        bottom: rem(64);
        right: rem(133);
        width: rem(186);
      }

      &::after {
        padding-top: 71.7%;
      }
    }

    &--n2 {
      background-image: url('./assets/images/banner_pic_2.png');

      @media (max-width: 767px) {
        max-height: calc(30% - 2.3125rem);
        top: rem(37);
        left: rem(25);
        width: calc(50% - 1.5625rem);
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        top: rem(58);
        left: rem(69);
        width: rem(328);
      }

      @media (min-width: 1024px) {
        top: rem(58);
        left: rem(68);
        width: rem(324);
      }

      &::after {
        padding-top: 38%;
      }
    }

    &--n3 {
      bottom: 0;
      background-image: url('./assets/images/banner_pic_3.png');

      @media (max-width: 767px) {
        max-height: 60%;
        left: 0;
        width: 100%;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        height: rem(564);
        left: 0;
        width: 100%;
      }

      @media (min-width: 1024px) {
        width: 44%;
        max-height: 90%;
        left: 50%;
        transform: translateX(-50%);
      }

      &::after {
        padding-top: 80.6%;
      }
    }
  }
}
