.dev-map {
  padding: rem(100) 0 rem(100);

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: rem(94) 0 rem(60);
  }

  @media (max-width: 767px) {
    padding: rem(23) 0 rem(30) 0;
  }

  &__content {
    padding: 0 rem(64) 0 rem(27);

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      padding: 0;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(45);

    @media (min-width: 1024px) {
      max-width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      padding: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: rem(54);
      align-items: flex-start;
    }
  }

  &__head-title {
    position: relative;
    margin-bottom: rem(31);
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: rem(27);
      text-align: left;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: - rem(5);
      left: 50%;
      width: 94%;
      height: rem(3);
      border-radius: rem(2);
      background: url(./assets/images/envelope_pattern.png) repeat-x left top;
      transform: translate(-50%, 0);

      @media (max-width: 767px) {
        width: 98%;
        left: 0;
        transform: none;
      }
    }
  }

  &__head-text {
    max-width: 89%;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 80%;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      text-align: left;
    }
  }

  &__map-wrap {
    position: relative;
    width: 100%;
    height: rem(450);
    padding: 0 rem(16);
    border-radius: rem(2);
    background-image: linear-gradient(111deg, #ffd46c, #fabf2e);
    box-shadow: 0 rem(12) rem(32) 0 rgba(0, 0, 0, 0.1);

    @media (max-width: 767px) {
      height: rem(298);
      padding: 0;
    }
  }

  &__map {
    position: relative;
    top: - rem(18);
    width: 100%;
    height: 100%;
    background-color: #999;
    z-index: 3;

    @media (max-width: 767px) {
      top: - rem(28);
    }
  }

  &__backs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__back {
    position: absolute;
    display: block;
    bottom: 0;
    width: 28.69%;

    @media (max-width: 767px) {
      width: 100%;
      display: none;
    }

    &--1 {
      left: 0;

      @media (max-width: 767px) {
        display: block;
      }
    }

    &--2 {
      left: 27.6%;
    }

    &--3 {
      left: 55.2%;
    }

    &--4 {
      width: 23.24%;
      right: 0;
    }
  }
}
