mixin dev-map()
  .dev-map(id='dev-map')
    .dev-map__content.main
      .dev-map__head.main
        +h3('Местоположение', 'dev-map__head-title')
        +text('Котельники граничат с Дзержинским, который является городом-спутником Москвы. Жители нового квартала смогут пользоваться всей необходимой инфра-структурой: медицинскими и образова-тельными центрами, пунктами бытовых услуг и отделениями банков, магазинами и ресторанами.', 'dev-map__head-text')
      .dev-map__map-wrap
        .dev-map__map
        .dev-map__backs
          img.dev-map__back.dev-map__back--1(src='/s-images/backs/back6.svg', alt='back')   
          img.dev-map__back.dev-map__back--2(src='/s-images/backs/back7.svg', alt='back')   
          img.dev-map__back.dev-map__back--3(src='/s-images/backs/back8.svg', alt='back')   
          img.dev-map__back.dev-map__back--4(src='/s-images/backs/back9.svg', alt='back')   
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAGOwo_nYCOeYndcr3y9nqf4HB2l2sL5C4')
