mixin dev-styles()
  .dev-styles(id='dev-styles')
    .dev-styles__head.main
      +h2('Квартиры с отделкой', 'dev-styles__title')
    .dev-styles__content.main
      .dev-styles__item
        +h4('Скандинавский стиль', 'dev-styles__name main')
        .dev-styles__img-wrap(style='background-image:url(' + require('../assets/images/styles1.jpg') + ')')
      .dev-styles__item
        +h4('Скандинавский стиль', 'dev-styles__name main')
        .dev-styles__img-wrap(style='background-image:url(' + require('../assets/images/styles2.jpg') + ')')
      .dev-styles__item
        +h4('Классический стиль', 'dev-styles__name main')
        .dev-styles__img-wrap(style='background-image:url(' + require('../assets/images/styles3.jpg') + ')')
      .dev-styles__item
        +h4('Классический стиль', 'dev-styles__name main')
        .dev-styles__img-wrap(style='background-image:url(' + require('../assets/images/styles4.jpg') + ')')
    .dev-styles__backs
      img.dev-styles__back.dev-styles__back--1(src='/s-images/backs/back3.svg', alt='back')
      img.dev-styles__back.dev-styles__back--2(src='/s-images/backs/back5.svg', alt='back')
      img.dev-styles__back.dev-styles__back--3(src='/s-images/backs/back2.svg', alt='back')
      img.dev-styles__back.dev-styles__back--4(src='/s-images/backs/back5.svg', alt='back')
