.dev-styles {
  position: relative;
  width: 100%;
  padding-top: rem(94);
  padding-bottom: rem(30);

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: rem(143);
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    padding-top: rem(22);
    padding-bottom: 0;
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  &__title {
    position: relative;
    margin-bottom: rem(30);

    @media (max-width: 767px) {
      margin-bottom: rem(38);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: - rem(24);
      left: 50%;
      width: rem(98);
      height: rem(4);
      border-radius: rem(2);
      background: url(./assets/images/envelope_pattern.png) repeat-x left top;
      transform: translate(-50%, 0);

      @media (min-width: 768px) and (max-width: 1023px) {
        bottom: - rem(3);
        left: auto;
        right: rem(2);
        width: rem(143);
        transform: none;
      }

      @media (max-width: 767px) {
        bottom: - rem(4);
        left: auto;
        right: 0;
        width: rem(102);
        height: rem(3);
        transform: none;
      }
    }
  }

  // &__backs {
  //
  // }

  &__back {
    position: absolute;
    display: block;
    width: 25%;

    @media (max-width: 767px) {
      display: none;
      width: 100%;
    }

    &--1 {
      top: rem(44);
      left: 0;

      @media (max-width: 767px) {
        top: 0;
        display: block;
      }
    }

    &--2 {
      top: rem(96);
      right: 0;
    }

    &--3 {
      left: 25%;
      bottom: rem(592);
    }

    &--4 {
      left: 25%;
      bottom: 0;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;

    @media (max-width: 767px) {
      max-width: 100%;
      width: 100%;
      flex-direction: column;
    }
  }

  &__name {
    margin-bottom: rem(28);

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
    }
  }

  &__img-wrap {
    height: rem(494);
    background-color: #e2e9e4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: rem(470);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      height: rem(395);
    }

    @media (max-width: 767px) {
      height: rem(264);
    }
  }

  &__item {
    width: 46.803%;
    // width: rem(600);
    margin-bottom: rem(49);

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
      margin-bottom: rem(32);
    }

    @media (max-width: 767px) {
      margin-bottom: rem(10);
      width: 100%;
    }

    &:nth-of-type(2n) {
      margin-top: rem(129);

      @media (max-width: 1023px) {
        margin-top: 0;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: rem(60);
      }

      @media (max-width: 767px) {
        margin-bottom: rem(30);
      }

      .dev-styles__name {
        @media (max-width: 1023px) {
          display: none;
        }
      }

      // .dev-flats__img-wrap {
      //   margin-bottom: rem(31);
      // }
    }
  }
}
