.text-little {
  font-size: rem(12);
  line-height: 1.2;
  color: $black;
  // letter-spacing: 0.5px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: rem(10);
    letter-spacing: 0.6px;
  }

  // @media (max-width: 767px) {
  //   font-size: rem(15);
  // }

  // &--bold {
  //   letter-spacing: rem(1);
  //   font-weight: 800;
  // }
  //
  // @media (max-width: 767px) {
  //   letter-spacing: 0.2px;
  // }

  // span {
  //   color: $pink;
  // }
}
