.h1 {
  font-size: rem(54);
  line-height: 1.2;
  font-weight: 600;
  // letter-spacing: -0.7px;
  color: $black;

  @media (min-width: 768px) and (max-width: 1023px) {
    line-height: 1;
  }

  @media (max-width: 767px) {
    font-size: rem(22);
    letter-spacing: -0.3px;
    line-height: 1;
  }

  span {
    color: $pink;
  }
}
