.text {
  font-size: rem(14);
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: $black;

  // @media (min-width: 768px) and (max-width: 1023px) {
  //   font-size: rem(17);
  // }
  //
  @media (max-width: 767px) {
    font-size: rem(12);
    line-height: 2;
  }

  // &--bold {
  //   letter-spacing: rem(1);
  //   font-weight: 800;
  // }
  //
  // @media (max-width: 767px) {
  //   letter-spacing: 0.2px;
  // }

  // span {
  //   color: $pink;
  // }
}
