* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
    transition: 0.4s ease;
  }
}

html {
  font-size: 16px;

  @media (min-width: 1900px) {
    font-size: 18.5px;
  }

  @media (min-width: 1024px) and (max-width: 1359px) {
    font-size: 15px;
  }
  //
  // @media (min-width: 1024px) and (max-width: 1279px) {
  //   font-size: 14.5px;
  // }
  //
  @media (min-width: 360px) and (max-width: 371px) {
    font-size: 17px;
  }

  @media (min-width: 372px) and (max-width: 767px) {
    font-size: 17.5px;
  }
}

@function rem($size) {
  $remsize: $size / 16;

  @return #{$remsize}rem;
}

body {
  font-family: 'Gilroy', sans-serif;
  padding-top: rem(64);

  @media (max-width: 767px) {
    padding-top: rem(60);
  }
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: 0.4s ease;

  div,
  p {
    transition: 0.4s ease;
  }
}

button,
input,
textarea,
select {
  font-family: "Gilroy", sans-serif;
  border: 0;
  outline: 0;
  transition: 0.4s ease;
  cursor: pointer;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
}

.page {
  position: relative;
  max-width: rem(1366);
  margin: 0 auto;

  @media (min-width: 1024px) and (max-width: 1279px) {
    max-width: rem(1092);
  }

  @media (max-width: 1023px) {
    max-width: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__borders {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    transform: translate(-50%, 0);

    @media (max-width: 767px) {
      border: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #f2f2f2;
      transform: translate(-50%, 0);
    }
  }
}

.main {
  max-width: rem(1282);
  margin: 0 auto;

  // @media (min-width: 1280px) and (max-width: 1363px) {
  //   max-width: rem(1300);
  // }

  @media (min-width: 1024px) and (max-width: 1279px) {
    // max-width: rem(1000);
    max-width: rem(1008);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: 62.5%;
  }

  @media (max-width: 767px) {
    width: 79.6875%;
    max-width: rem(420);
  }
}

.animated {
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
