@font-face {
  font-family: "Gilroy";
  src:
    url("/fonts/Gilroy-UltraLight.woff") format("woff"),
    url("/fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("/fonts/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("/fonts/Gilroy-Black.woff") format("woff"),
    url("/fonts/Gilroy-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
