mixin dev-contacts()
  .dev-contacts.main(id='dev-contacts')
    .dev-contacts__content
      +h5('У Вас возникли вопросы?', 'dev-contacts__title')
      +text('Наши менеджеры помогут выбрать оптимальную программу, собрать необходимый пакет документов и заключить сделку.', 'dev-contacts__text')
      .dev-contacts__btns
        +core-btn('#', 'Заказать звонок', 'core-btn--border dev-contacts__btn js-callback')
        +core-btn('#', 'Перейти на сайт', 'dev-contacts__btn')
