.dev-contacts {
  padding-top: rem(32);
  padding-bottom: rem(132);

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: rem(12);
    padding-bottom: rem(80);
    max-width: 78%;
  }

  @media (max-width: 767px) {
    padding-top: rem(19);
    padding-bottom: rem(15);
  }

  &__content {
    width: rem(598);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1023px) {
      width: auto;
    }
  }

  &__title {
    margin-bottom: rem(11);
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: rem(19);
    }
  }

  &__text {
    margin-bottom: rem(42);
    line-height: rem(20);
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: rem(24);
      line-height: rem(20);
    }
  }

  &__btns {
    width: 100%;
    padding: 0 rem(12);
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 89%;
    }

    @media (max-width: 767px) {
      width: rem(152);
      padding: 0;
      flex-direction: column;
    }
  }

  &__btn {
    width: rem(234);
    height: rem(50);

    @media (max-width: 767px) {
      width: 100%;
      height: rem(41);
      padding: 0;
      margin-bottom: rem(10);
    }

    .core-btn__text {
      @media (max-width: 767px) {
        padding: 0 rem(6);
      }
    }
  }
}
