mixin dev-about()
  .dev-about(id='dev-about')
    .dev-about__content
      .dev-about__head.main
        +h3('О комплексе', 'dev-about__head-title')
      .dev-about__item
        .dev-about__img(style='background-image:url(' + require('../assets/images/about1.jpg') + ')')
        .dev-about__text-wrap.main
          p.dev-about__text Уникальная зона отдыха с собственным пляжем <br> <span>в 250 метрах</span> от квартала.
      .dev-about__item
        .dev-about__img(style='background-image:url(' + require('../assets/images/about2.jpg') + ')')
        .dev-about__text-wrap.main
          p.dev-about__text Школа вместимостью 1500 мест и 4 детских сада общей вместимостью <span>630 детей</span>
      .dev-about__item
        .dev-about__img(style='background-image:url(' + require('../assets/images/about3.jpg') + ')')
        .dev-about__text-wrap.main
          p.dev-about__text Двор без машин (подземные паркинги с большим количеством парковочных мест)
    .dev-about__backs
      img.dev-about__back.dev-about__back--1(src='/s-images/backs/back4.svg', alt='back')    
