.dev-about {
  position: relative;
  padding-top: rem(50);
  padding-bottom: rem(45);

  @media (max-width: 767px) {
    padding-top: rem(36);
    padding-bottom: rem(30);
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25%;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
      top: - rem(30);
      transform: rotate(180deg);
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 2;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }
  }

  &__head {
    width: 25%;
    padding-top: rem(78);
    padding-left: rem(36);

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      width: 50%;
      padding-top: rem(30);
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__head-title {
    position: relative;
    padding-left: rem(20);

    @media (min-width: 768px) and (max-width: 1023px) {
      padding-left: rem(13);
    }

    @media (max-width: 767px) {
      padding-left: rem(17);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(3);
      height: rem(60);
      background-color: $orange;
      transform: translate(0, -50%);

      @media (min-width: 768px) and (max-width: 1023px) {
        height: rem(30);
      }

      @media (max-width: 767px) {
        height: rem(18);
      }
    }
  }

  &__img {
    width: 100%;
    height: rem(355);
    background-color: #e2e9e4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) and (max-width: 1279px) {
      height: rem(286);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      height: rem(355);
    }

    @media (max-width: 767px) {
      height: rem(290);
    }
  }

  &__text-wrap {
    padding: rem(56) rem(40) rem(56) rem(34);

    @media (min-width: 1024px) and (max-width: 1279px) {
      padding: rem(46) rem(28) rem(46) rem(28);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      padding: rem(19) rem(36) rem(56) rem(38);
    }

    @media (max-width: 767px) {
      padding: rem(33) 0 rem(27) 0;
    }
  }

  &__text {
    font-size: rem(18);
    line-height: rem(24);
    color: $black;

    @media (max-width: 767px) {
      font-size: rem(12);
      line-height: 1.7;
    }

    span {
      font-weight: 600;
    }
  }

  // &__items {
  //   width: 75%;
  //   display: flex;
  //   align-items: flex-start;
  // }

  &__item {
    display: flex;
    flex-direction: column;
    width: 25%;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      width: 100%;
      flex-direction: column-reverse;
    }

    &:nth-of-type(2n) {
      flex-direction: column-reverse;
    }

    &:nth-of-type(2n+1) {
      .dev-about__text-wrap {
        padding-top: rem(34);

        @media (min-width: 768px) and (max-width: 1023px) {
          padding-left: rem(30);
        }
      }
    }

    &:nth-of-type(3) {
      @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: - rem(118);
      }
    }

    &:nth-of-type(4) {
      .dev-about__text-wrap {
        padding: rem(25) rem(25) rem(28) rem(34);

        @media (min-width: 768px) and (max-width: 1023px) {
          padding: rem(34) rem(25) rem(28) rem(25);
        }

        @media (max-width: 767px) {
          padding: rem(33) 0 rem(27) 0;
        }
      }
    }
  }
}
