.dev-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #fff;

  &__content-wrap {
    width: 100%;
    box-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.09);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(64);

    @media (min-width: 768px) and (max-width: 1023px) {
      max-width: 92%;
    }

    @media (max-width: 767px) {
      width: 85%;
      height: rem(60);
    }
  }

  &__left {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      width: calc(50% + 3.4375rem);
    }
  }

  &__menu-btn {
    position: relative;
    display: none;
    width: rem(12);
    height: rem(14);

    @media (max-width: 767px) {
      display: inline-block;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: rem(2);
      background-color: $black;
    }

    &::before {
      top: rem(3);
    }

    &::after {
      bottom: rem(3);
    }

    &--open {
      &::before {
        top: rem(6);
      }

      &::after {
        bottom: rem(6);
      }
    }
  }

  &__logo {
    display: inline-block;
    width: rem(118);
    height: rem(37);
    margin-left: - rem(6);
    background-image: url(/s-images/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: rem(100);
      height: rem(31);
    }

    @media (max-width: 767px) {
      width: rem(109);
      height: rem(34);
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-right: - rem(6);
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    margin-right: rem(47);
    margin-top: rem(6);

    @media (min-width: 768px) and (max-width: 1023px) {
      margin-right: rem(24);
      margin-top: 0;
    }

    @media (max-width: 767px) {
      margin-right: 0;
      margin-top: 0;
    }
  }

  &__phone-icon {
    width: rem(18);
    height: rem(22);
    margin-right: rem(12);
    margin-bottom: rem(3);

    @media (min-width: 768px) and (max-width: 1023px) {
      width: rem(16);
      margin-right: rem(9);
    }

    @media (max-width: 767px) {
      width: rem(16);
      height: rem(19);
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__phone-text {
    font-size: rem(16);
    color: $black;
    letter-spacing: 0.3px;

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: rem(14);
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__btn {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: rem(100);
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
  }

  &__menu-item {
    margin-bottom: rem(22);
  }

  &__menu-link {
    line-height: 1.4;

    &:hover {
      color: $orange;
    }
  }

  &--open {
    height: 100vh;

    .dev-header__menu {
      display: flex;
    }
  }
}
