mixin dev-header()
  .dev-header
    .dev-header__content-wrap
      .dev-header__content.main
        .dev-header__left
          a.dev-header__menu-btn
          a.dev-header__logo.core-anhors(href='#dev-banner')
        .dev-header__contacts
          a.dev-header__phone(href='tel:+74952494646')
            svg.dev-header__phone-icon
              use(xlink:href=require('../assets/svg/phone.svg').url)
            span.dev-header__phone-text +7 495 249-46-46
          +core-btn('#', 'Заказать звонок', 'dev-header__btn js-callback')
    ul.dev-header__menu
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-stocks') Выгодные акции
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-flats') Квартиры
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-transport') Транспортная доступность
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-map') Местоположение
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-about') О комплексе
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-styles') Стили квартир
      li.dev-header__menu-item
        a.h4.dev-header__menu-link.core-anhors(href='#dev-contacts') Контакты
